body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    border-bottom: 1px solid #EBE8F4 ;
    justify-content: space-between;
    padding: 15px;
}

.header-logo-link {

    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;

    padding-left:  80px;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 44px;
}

.header-list-item {
    color: #726E8D;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.header-list-item-link {
    text-decoration: none;
    color: #726E8D;
}

.header-images {
    display: flex;
    column-gap: 25px;
}

.header-images-search {
    display: block;
    background-image: url(/images/Search.png);
    width: 16px;
    height: 16px;
}

.header-images-shop {
    display: block;
    background-image: url(/images/Shopping--cart.png);
    width: 16px;
    height: 16px;
}

.header-images-profile {
    display: block;
    background-image: url(/images/User--avatar.png);
    width: 16px;
    height: 16px;
}

.main {
    margin-top: 80px;
}

.main-logo {
    display: flex;
    justify-content: center;

    
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;

    margin-bottom: 24px;
}

.main-category-menu {
    display: flex;
    gap: 60px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
}

.main-types-category {
    border: none;
}

.main-types-sorting {
    border: none;
}


.main-types-section {
    display: flex;
    margin-left: auto;
    gap: 16px;
}


.main-grid-chair {
    grid-area: chair;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black;

}

.main-grid-vase {
    grid-area: vase;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-silky {
    grid-area: silky;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-lamp {
    grid-area: lamp;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-chair2 {
    grid-area: chair2;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black;

}

.main-grid-vase2 {
    grid-area: vase2;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-silky2 {
    grid-area: silky2;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-lamp2 {
    grid-area: lamp2;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-chair3 {
    grid-area: chair3;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black;

}

.main-grid-vase3 {
    grid-area: vase3;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-silky3 {
    grid-area: silky3;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}

.main-grid-lamp3 {
    grid-area: lamp3;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:black
}


.main-grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 470px);
    grid-template-areas: 
    "chair vase silky lamp"
    "chair2 vase2 silky2 lamp2"
    "chair3 vase3 silky3 lamp3";
    row-gap: 12px;
    margin-top: 30px;
    margin-bottom: 48px;
}

.main-button {
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 56px;
    background-color: #F9F9F9;
    border: none;


    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.main-button-text {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
}

.main-info-section {
    display: flex;

    margin-top: 40px;
}

.main-info-img {
    width: 750px;
}

.main-info-div {
    display: flex;
    flex-direction: column;
    padding-top: 71px;
    padding-left: 49px;
    gap: 21px;
}

.main-info-div-title {
    
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;

}

.main-info-div-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.main-info-div-button {
    display: block;
    color: white;
    background-color: #2A254B;
    
    
    width: 120px;
    height: 56px;
    margin-top: auto;
    margin-bottom: 70px;
    margin-left: 72px;
}

.main-info-div-button-title {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}


.footer {
    background-color: #2A254B;
    height: 380px;
}

.footer-menu-categories {
    display: flex;
    color: white;
    padding-top: 58px;
    gap: 100px;
}

.footer-menu-types {
    display: grid;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    row-gap: 5px;

}

.footer-menu-title {
    display: grid;
    row-gap: 5px;
    padding-bottom: 5px;

}

.footer-menu-text {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}

.footer-map-link {
    margin-left: auto;
}

.footer-social-menu {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 80px;
    padding: 7px;
    border-top: 1px solid #4E4D93;

}

.footer-social-info {
    display: flex;
    gap: 24px;
}

.footer-social-linked {
    background-image: url(/images/logo--linkedin.svg);
}

.footer-social-facebook {
    background-image: url(/images/logo--facebook.svg);
}

.footer-social-ig {
    background-image: url(/images/logo--instagram.svg);
}

.footer-social-skype {
    background-image: url(/images/logo--skype.svg);
}

.footer-social-x {
    background-image: url(/images/logo--twitter.svg);
}

.footer-social-pinter {
    background-image: url(/images/logo--pinterest.svg);
}

.footer-social-linked,
.footer-social-facebook,
.footer-social-ig, 
.footer-social-skype,
.footer-social-x,
.footer-social-pinter {
    display: block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

